/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
  line-height: 1.6;
	color: #3a3a3a;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 0 1rem;
  background: #FCFBF5;
}

img {
  width: 100%;
}

a {
	color: #3D405B;
	text-decoration: none;
}

a:hover {
    text-decoration: underline;
		font-weight: bold;
}

a:visited {
	color: #E07A5F;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

#nav li {
	padding: 10px;
	margin: 10px;
	background: rgba(242, 204, 143, .8);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.25rem;
}


/* ---- Layout Containers ---- */

.main-header {
  margin: auto;
  background: #F4F1DE;
	padding: 1rem;
}

.header img {
	border-radius: 50%;
	width: 75%
}

.container, .container2,
.container3 {
	padding-left: 1em;
	padding-right: 1em;
}

.container h1, .container2 h2,
.container3 h2 {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container h2, .container3 h3 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: .2em;
}

.col p {
  margin-bottom: 2em;
}

.contact {
  background: #F4F1DE;
	padding: 5px;
}

.contact p {
  padding: 0 1em 1em 1em;
}

.main-footer {
  border-top: 1px dotted;
  padding: 0 1.5em;
  margin: 0 1em;
	background: #F4F1DE;
	font-weight: bold;
}

.footer-nav {
	text-transform: uppercase;
}

.hide {
  display: none;
}


/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-header {
    padding-bottom: 3em;
  }

  .header {
    display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		text-align: left;
		padding-top: 1.5rem;
  }

  .header img {
    width: 40%;
    flex-grow: 1;
  }

  .header p {
    flex-grow: 3;
		font-size: 1.25rem
  }

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

	.col {
		padding: 5px 2.5%;
    margin-top: 10px;
    flex-basis: 50%;
	}

  #nav li,
  .hide {
    display: inline-block;
  }

  .top {
    display: none;
  }

	.contact {
		padding: 25px;
	}

	.contact p {
	  padding:  0 150px 1em 150px;
	}

	.footer-nav a {
		padding: 10px;
	}

}

@media (min-width: 1024px) {

  body {
		margin: 0 2rem;
	}

	.col {
		flex-basis: 33%;
	}

	.skill {
		justify-content: center;
	}

	.contact p {
	  padding:  0 300px 1em 300px;
	}

	.wide-flex {
		display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
	}

}
